.page-width{width: 100%;}

img{height: 80px;
width: 80px;
border-radius: 60%;}

body{background-color: lightseagreen;}

h1{font-style: italic;
   font-style: bold;
   font-size: 60px;
   color: lightcoral;}